@import "./partials/mixins";

//=== navigator style =====//
.navigator-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: rgb(92, 80, 231);
  background: linear-gradient(
    0deg,
    rgba(92, 80, 231, 1) 50%,
    rgba(9, 1, 77, 1) 100%
  );
  place-items: center;
  .MuiToolbar-root {
    width: 100%;
  }
}
.logo-container {
  flex-grow: 1;
}
.link-container {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  a {
    margin: 0px 10px;
    color: #fff;
    transition: color 0.2s ease-in;
    &:hover {
      color: #e76712;
    }
  }
}

//=== main page categories style =====//
.main-category-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
}
.main-category-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include custom-box-shadow-with-border;
  width: 300px;
  height: 400px;
  margin: 20px;
  .right-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transition: right 0.2s ease-in;
    @include soft-box-shadow;
    &:hover {
      right: 3px;
    }
  }
  .left-button {
    position: absolute;
    top: 50%;
    left: 5px;
    transition: left 0.2s ease-in;
    @include soft-box-shadow;
    &:hover {
      left: 3px;
    }
  }
}
.main-category-images {
  flex-grow: 1;
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    transition: all 0.6s;
  }
  :hover {
    @include category-images-hover(0.8, 1);
  }
}
.main-category-info {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  text-transform: capitalize;
}

.central-box {
  @include custom-box-shadow-with-border;
  width: 600px;
  margin: 40px auto auto;
  text-align: center;
}

//=== shop page categories style =====//
.shop-category-container {
  margin: 10px 0xp;
}
.shop-sub-category-section {
  display: flex;
  flex-direction: column;
  @include custom-box-shadow-with-border;
  margin: 20px 0px;
  position: relative;
  .right-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transition: right 0.2s ease-in;
    @include soft-box-shadow;
    &:hover {
      right: 3px;
    }
  }
  .left-button {
    position: absolute;
    top: 50%;
    left: 5px;
    transition: left 0.2s ease-in;
    @include soft-box-shadow;
    &:hover {
      left: 3px;
    }
  }
}
.shop-sub-category-section-title {
  padding: 2px 10px;
  text-transform: capitalize;
  height: 25px;
  background-color: #eee;
}
.shop-sub-category-section-cards {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;
}

.shop-category-section {
  display: flex;
  flex-direction: column;
  @include custom-box-shadow-with-border;
  margin: 20px 0px;
  width: 100%;
}
.shop-category-section-title {
  padding: 2px 10px;
  text-transform: capitalize;
  height: 25px;
  background-color: #eee;
}
.shop-category-section-cards {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
//=== shop page category card style =====//
.shop-category-card {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  @include soft-box-shadow;
  width: 300px;
  height: 400px;
  margin: 10px;
}
.shop-category-images {
  flex-grow: 1;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    transition: all 0.6s;
  }
  :hover {
    @include category-images-hover(0.8, 1.1);
  }
}
.shop-category-info {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  text-transform: capitalize;
}
.shopping-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//=== shop page navbar =====//
.shop-nav {
  background-color: #ddd;
  padding: 5px;
  text-align: center;
  font-weight: 500;
  @include soft-box-shadow;
  a {
    text-transform: capitalize;
  }
  a:hover {
    text-decoration: underline;
  }
}
//=== shoping cart =====/
.shopping-cart {
    width: 250px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    @include soft-box-shadow;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    padding: 2px;
  }
.cart-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.cart-card {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin: 4px 0px;
  padding-left: 2px;
  align-items: center;
  .cart-card-img {
    display: flex;
    padding: 2px 0px;
    width: 50px;
    flex-grow: 1;
  }
  
  .cart-card-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }
}
.cart-footer {
  height: 50px;
}
.shopping-cart-logo {
  position: relative;
  cursor: pointer;
}
.shopping-cart-logo-counter {
  position: absolute;
  top: 30%;
  left: 55%;
  font-size: 12px;
  transform: translate(-50%, -50%);
  color: #fff;
  cursor: pointer;
}
